$red : #EA6045;
$dkblue : #2f3440;
$ltblue : #3A4C5B;
$cream : #F3E3BF;
$yellow : #F5B94C;

$mont-stack : "Montserrat", sans-serif;
$card-stack : "Cardo", serif;
$source-stack : "Source Code Pro", monospace;

a {
	text-decoration : none;
}