$red : #EA6045;
$dkblue : #2f3440;
$ltblue : #3A4C5B;
$cream : #F3E3BF;
$yellow : #F5B94C;
$black: #222;
$grey: #666;

@mixin smart_underline($color, $bg){
	text-shadow: .03em 0 $bg, -.03em 0 $bg, 0 .03em $bg, 0 -.03em $bg, .06em 0 $bg, -.06em 0 $bg, .09em 0 $bg, -.09em 0 $bg, .12em 0 $bg, -.12em 0 $bg, .15em 0 $bg, -.15em 0 $bg;  
 	background-image: linear-gradient($bg, $bg), linear-gradient($bg, $bg), linear-gradient($color, $color);
  	background-size: .05em 1px, .05em 1px, 1px 1px;
  	background-repeat: no-repeat, no-repeat, repeat-x;
  	background-position: 0% 90%, 100% 90%, 0% 90%;
}

abbr {
	text-transform: lowercase;
	font-variant: small-caps;
	letter-spacing: .07em;
}

.hidden {
	display:none;
	visibility:hidden;
}

@font-face {
	font-family : Montserrat;
	src : url(../assets/Montserrat-Regular.ttf);
	font-weight: normal;
}
@font-face {
	font-family : Montserrat;
	src : url(../assets/Montserrat-Bold.ttf);
	font-weight : bold;
}

@font-face {
	font-family : Hoefler Text;
	src : url(../assets/HoeflerText.otf);
	font-style : normal;
}

@font-face {
	font-family : Source Code Pro;
	src : url(../assets/SourceCodePro-Regular.otf);
	font-weight:normal;
}

@font-face {
	font-family : Abraham Lincoln;
	src : url(../assets/AbrahamLincoln.ttf);
	font-weight: normal;
}

$mont-stack : "Montserrat", sans-serif;
$card-stack : "Hoefler Text", serif;
$source-stack : "Source Code Pro", monospace;

::selection {
	background-color: $red;
	color: lighten($yellow, 30%);
}

* {
	box-sizing: border-box ;
}

html {
	overflow-x:hidden;

}

a {
	text-decoration : none;
	color: $black;
}

em {
	color: $grey;
	@include smart_underline($grey, white);

	&::selection {
			@include smart_underline(lighten($yellow, 30%), $red); 

	}

}

p {
	color: $black;
	@include font-feature-settings( 'o-num' );
	@include font-feature-settings( 'liga' );
}

p a, .link {
	font-style: normal;
	//text-transform: lowercase;
	font-family : $card-stack;
	//font-variant: small-caps;
	//font-size : 1.2em;
	color : $red;
	letter-spacing : .75px;
	//padding-left : 2px;
	padding-right : 1px;
	display:inline-block;
	position: relative;
	@include transition (color .2s ease-in-out );

}

p a:before, .link:before {
		content:' ';
		display: inline-block;
		height:2rem;
		width:0;
		position: absolute;
		top:-2px;
		left:-1px;
		background : $ltblue;
		z-index: -10;
		@include transition ( width .3s ease-in-out );
}

p a:hover, .link:hover {
	//color: lighten($ltblue, 30%);
	color:$yellow;
}

p a:hover:before, .link:hover:before {
	width:102%;

}

h1, h2, h3, h4, h5 {
	color : $dkblue;
}

