$red : #EA6045;
$dkblue : #2f3440;
$ltblue : #3A4C5B;
$cream : #F3E3BF;
$yellow : #F5B94C;
$black: #222;

.hidden {
	display:none;
	visibility:hidden;
}

@font-face {
	font-family : Montserrat;
	src : url(../assets/Montserrat-Regular.ttf);
	font-weight: normal;
}
@font-face {
	font-family : Montserrat;
	src : url(../assets/Montserrat-Bold.ttf);
	font-weight : bold;
}

@font-face {
	font-family : Hoefler Text;
	src : url(../assets/hoefler-regular.ttf) format('truetype');
	font-style : normal;
}
@font-face {
	font-family : Hoefler Text;
	src : url(../assets/hoefler-italic.ttf);
	font-style : italic;
}
@font-face {
	font-family : Source Code Pro;
	src : url(../assets/SourceCodePro-Regular.otf);
	font-weight:normal;
}

$mont-stack : "Montserrat", sans-serif;
$card-stack : "Hoefler Text", serif;
$source-stack : "Source Code Pro", monospace;

::selection {
	background-color: $red;
	color: lighten($yellow, 30%);
	opacity:1;

}

* {
	box-sizing: border-box ;
}

html {
	overflow-x:hidden;

}

a {
	text-decoration : none;
	color: $black;
}

em {
	font-style: italic;
	word-spacing: 2px;
}

p a, .link {
	font-style: normal;
	//text-transform: lowercase;
	font-family : $card-stack;
	//font-variant: small-caps;
	//font-size : 1.2em;
	color : $red;
	letter-spacing : 1.2px;
	padding-left : 3px;
	padding-right : 2px;
	display:inline-block;
	position: relative;
	@include transition (color .2s ease-in-out );

}

p a:before, .link:before {
		content:' ';
		display: inline-block;
		height:1.8rem;
		width:0;
		position: absolute;
		top:-2px;
		left:0px;
		background : $ltblue;
		z-index: -10;
		@include transition ( width .3s ease-in-out );
}

p a:hover, .link:hover {
	color: rgb(245,245,245);
}

p a:hover:before, .link:hover:before {
	width:100%;

}

h1, h2, h3, h4, h5 {
	color : $dkblue;
}

