nav {
	//padding-top : 55px;
	display : inline-block;
	//min-width : 220px;
	//width: rem(220px);
	//background : transparent;
	float: left;
	//margin-right: 7.321vw;

	.logo {
	@include size(150px);
	//margin-left: 70px;
	background-image: url("../img/logo.png");
	background-size: 150px 150px;
	margin-bottom: 20px;
	}

	a {
		//display: block;
		//margin-left: 70px;
		width: 150px;
		color: $dkblue;
		@include transition( color .1s);

	}

	li {
		background-color: transparent;;
		//width: 220px;
		height: 110px;
		max-height: 110px;	
		margin-bottom: 20px;
		@include transition( background-color .4s);

	}
	li:hover:not(.disabled) {
				background-color: $ltblue;


				h4 {
					color:lighten($ltblue, 18%);
				}

				h3{
					color:lighten($ltblue, 15%);
				}


	}


	h4 {
		@include padding(rem( 10 ) null rem(18));		
		font-size: rem( 14 );
		font-family: $mont-stack;
	}

	h4.number:after{
		content:'/';
		display:inline-block;
		color:$red;
		margin-left:.2rem;
	}

	h3 {
		color: $ltblue;
		text-transform: uppercase;
		position : relative;
		font-size: rem( 18 );;
		font-family: $mont-stack;
		font-weight: 700;
		@include padding(null null rem( 8 ));

	}



	p {
		font-size: rem( 12 );
		line-height: rem(18);
		font-family: $source-stack;
		@include padding(null null rem(10));
		color:$ltblue;

	}
}



@import "nav-breakpoints";
