@media all and (min-width:1081px){
	section#resume {
		padding-top:130px;
		min-width : rem(700px);
		//max-width: calc(90% - 220px);
		max-width: 69%;
	}
	.body_item{
		top : rem(49px + 84);

	}

	.right_col{
		margin-left: 18rem;
		margin-top: rem(-22);

	}

	h1#name {
		font-weight: 200;
		font-size: rem(84);
		right:0;

	}
}


@media screen and (min-width : 769px ) and (max-width:  1080px) {
	section#resume {
		padding-top:44px;
		min-width: 200px;
		max-width: calc(92% - 220px);
	}

	h1#name {
		font-size: rem(84);
		width:inherit;
		max-width: rem(700px);
		left:-5px;
		right:0;


	}
	.body_item {
		top : rem(49px + 169);
		margin-top: rem(-22);

	}

	.right_col{
		margin-left: 12rem;
	}

}

@media screen and (max-width: 768px){

	html{
				overflow-x:hidden;

	}
	.body_item{
		top : rem(49px +169);

		h3{
			padding-left:1rem;
		}
	}

	h1#name {
		padding-left:10vw;
		font-size: 5.5rem;

	}
	section#resume {
		padding-top:44px;

	}

	.right_col{
		margin-top:2rem;
		margin-left:2rem;
		width:90vw;
	}

}
@media screen and (max-width : 522px){
	section#resume h1#name{
		font-size: 3.3rem;
		max-width:100vw;
		padding-left:.75rem;
	}

	.body_item{
		top : rem(49px + 120);

		h3{
			padding-left:.75rem;
		}
	}
}
