
$card_line : rem(26);


section#resume {
	position: relative;
	float: left;
	display : inline-block;
	//min-width : rem(700px);
	//max-width: calc(90% - 220px);
	margin-left:none;

	h1#name {
		text-shadow: 1px 2px $ltblue;
		//top:134px;
		position :absolute;
		display: inline-block;
		text-transform: uppercase;
		font-family: $mont-stack;
		font-weight: bold;
		color : $dkblue;
	}


	.body_item {
		position : relative;
		margin-bottom: rem(40);

		.right_col{
			margin-bottom: 1rem;
			margin-right:1rem;
		}

		ul {
			line-height: $card_line;
			font-family : $card-stack;
		}

		h3 {
		max-width: rem(174px);
		position : relative;
		left: 0;
		}

		h3:after {
		height: 1px;
		content: "";
		position: absolute;
		display: block;
		left: -2px;
		bottom: rem(24px);
		width: 97%;
		background-color: $red;
	}

	h3, h4  {
			font-size: rem(18);
			text-transform: uppercase;
			font-family: $mont-stack;
			font-weight: bold;
			color: $ltblue;
		}

		h4 {
			line-height: rem(26);
			//margin-bottom: .25rem;
		}

		h4+p {
			margin-bottom: 1rem;
		}

		p { 
			font-family: $card-stack;
			//font-style: italic;
			line-height: $card_line;
			font-weight: lighter;
		}

		&#colophon p {
			font-style: italic;
		}

		#obsessions_list {
			font-size: rem(14);
			font-family: $source-stack;
			text-align: center;
			display : inline-block;
			align-content: left;
			
			li {
				display: inline-block;
			}
			

			li:after {
					color: lighten($ltblue,40%);
					content : "\00a0\00a0|\00a0";
			}

			li:last-child:after
					{
					content: "";
			}

			
		}
	}
}

#relevant_experience h3:after{
	bottom:rem(40) !important;
}


@import "resume-breakpoints";


