@import "bourbon";
@import "reset";
@import "base";
@import "nav";

.wrapper{
	float:left;
	//width: calc(95% - 220px - 7.321vw);
	//background: green;
	height:100%;
	margin-bottom:3rem;
}

.work {
	position:relative;
	float:left;
	min-height: 280px;
	max-width: 960px;
	//min-width : rem(700px);
	width:100%;
	display: block;
	margin-top:55px;
	z-index: 1;
	background-position: 30% 10%;

	&:after{
		content:" ";
		position:absolute;
		top:0;
		z-index:-1;
		opacity:1;
		display:block;
		width:inherit;
		min-height:100%;
		@include transition(opacity .5s ease-in-out);
		background-position: 30% 10%;
		background-size: cover;


	}

	.content {
		position: relative;
		margin-right:2rem;
		margin:2rem;
		z-index: 10;
		padding:1.5rem;
		background : rgba(240,240,240,.9);
		@include transition(height .5s ease-in-out);


		h3{
			font-size: rem(24);
			text-transform: uppercase;
			font-family: $mont-stack;
			font-weight: bold;
			color: $dkblue;
		}

		p {
			font-family: $card-stack;
			//font-style: italic;
			font-size: rem(22);
			line-height: rem(30);
			font-weight: lighter;
			margin-top: 1.5rem;
			margin-left:1rem;
			opacity:1;
			@include transition(opacity .3s ease-in-out);


		}
	}

}

.work:hover:after{
	opacity:0;
}




#koe{
	background-image: url("/img/koe_hover.png");

}

.work#koe::after {
	background-image: url("/img/koe.png");

}

#johnmarla {
	background-image: url("/img/johnmarla_hover.png");
	&::after { background-image :url("/img/johnmarla.png");}
}

#wedding {
	background-image: url("/img/wedding_hover.png");
	&::after { background-image :url("/img/wedding.png");}
}

#penzeys {
	background-image: url("/img/penzeys_hover.png");
	&::after { background-image : url("/img/penzeys.png");}
}

#other {
	background-image: url("/img/painting_hover.png");
  &::after {
	background-image: url("/img/painting.png"); }

}

@import "work-breakpoints";