	<nav class="sidebar">
			<a  class="logo">
			</a>
		<ul>
			<li>
				<a href="work.html" class="nav_links" id="nav_work"> 
					<h4>01.</h4>
					<h3>WORK</h3>
					<p>Design and writing projects</p>
				</a>

			</li>
			<li>
				<a href="notes.html" class="nav_links" id="nav_notes"> 
					<h4>02.</h4>
					<h3>NOTES</h3>
					<p>Collections of thoughts and essays</p>
				</a>
			</li>	
			<li>
				<a href="biblio.html" class="nav_links" id="nav_biblio"> 
					<h4>03.</h4>
					<h3>Bibliography</h3>
					<p>The media currently influencing me</p>
				</a>	
			</li>							
	</nav>