
<div class="wrapper">
<section class="header" id="other">
<h3>Creative sundries</h3>
</section>

<section id="body_copy">

<aside>
	<img src="/img/other_skateboard.png"/>
	<span>An early experiment with vector art.</span>
</aside>

<p>


<aside>
	<img src="/img/other_p5.png"/>
	<span>Processing pixel art of Hubble space photos</span>
</aside>

<aside>
	<img src="/img/post_mockup.png"/>
	<span>A redesign of my college newspaper website. If you want a real trip, you can read the alt-journalism manifesto I wrote <a href="https://dl.dropboxusercontent.com/u/19976056/PostFuture.pdf">here</a></span>
</aside>

<aside>
	<img src="/img/other_pizza.png"/>
	<span>My never ending search for the perfect pizza crust recipe.</span>
</aside>

</section>
</div>